* { margin: 0; padding: 0;}
.general {
    width: 1100px;
    margin: auto;
    display: flex;
}
.general .cont-left{
    background-color:grey;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 375px;
    color: white; 
}
.general .cont-left p{
    text-align: center;
    line-height: 357px;
}
.general .list {
    display: flex;
     align-items: flex-start;
    justify-content: space-around; 
    line-height: 1.6;
} 
.general .cont-right{
    margin-left: 50px;
} 
h3{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 40px;
}
.info{
    margin-top: 35px;
}
.info p {
    margin-bottom: 19px;
    font-size: 23px; 
}
.text p{
    line-height:1.6;
}