* {
    margin: 0;
    padding: 0;
  }
.general{
    width: 900px;
    height: 600px;
    background-color:#f2f2f2;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.icon{
    border: 2px solid #5ac6d0;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    margin-bottom: 10px;
    line-height: 64px;
    text-align: center;
    width: 56px;
    margin-top: 20px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
}
h1 {
   font-family: Helvetica,sans-serif, sans-serif; 
   font-size: 40px;
   text-align: center;
   padding-top: 10px;
}
.general p {
    font-size: 17px;
    font-family:  Helvetica,sans-serif;
    text-align: center;
    padding-top: 15px;
}
input[type=submit] {
    background-color:mediumturquoise;
    width: 20%;
    color: white;
    padding: 23px 22px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text] {
    width: 40%;
    padding: 21px 22px;
    margin: 8px 0; 
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
    color:slategray;
  }
